<div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button class="td-menu-button" (click)="sidenav.toggle()" mdTooltip="Main menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon class="mat-icon-logo" svgIcon="assets:covalent"></mat-icon>
    <span>Contacts</span>
    <span flex></span>
    <button mat-icon-button><mat-icon>apps</mat-icon></button>
    <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
  </div>