<td-layout>
    <td-layout-nav>
  <scorm-header></scorm-header>
      <mat-sidenav-container fullscreen>
       <scorm-sidebar></scorm-sidebar>
        <!-- ng content or router would go here -->
      <scorm-home></scorm-home>
      </mat-sidenav-container>
      <a mat-fab color="accent" matTooltip="Add new contact" matTooltipPosition="before" class="mat-fab-bottom-right z-3 fixed fab-pad">
        <mat-icon>add</mat-icon>
      </a>
    </td-layout-nav>
 <scorm-footer></scorm-footer>
  </td-layout>